# Start

In [43]:
import pandas as pd

In [44]:
columns_ds1 = ['Stamp', 'Track', 'Artist', 'Feed_Id', 'Feed_Name']
columns_ds2 = ['Feed_Id', 'SMP_Station']

In [45]:
data_set1 = pd.read_csv('consumption_data.csv')
data_set2 = pd.read_csv('feed_station_mapping.csv')

In [46]:
# quick overview
data_set1.shape, ' - ', data_set2.shape

((521974, 5), ' - ', (1125, 2))

## Looking through the first data set

In [47]:
data_set1.head()

,Stamp,Track,Artist,Feed_Id,Feed_Name
0,2019-06-07 18:38:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183
1,2019-06-08 09:04:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183
2,2019-06-08 19:51:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183
3,2019-06-09 20:52:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183
4,2019-06-10 11:06:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183

In [48]:
data_set1.describe()

,Stamp,Track,Artist,Feed_Id,Feed_Name
count,521974,521974,521974,521974,521974
unique,384312,8,8,1479,1592
top,2019-01-01 01:34:12 +0000 UTC,Song_05,artist_03,feed_id_968,feed_name_223
freq,45,180794,180794,19654,19654

In [49]:
data_set1.value_counts()

Stamp                          Track    Artist     Feed_Id       Feed_Name
2019-01-03 08:22:58 +0000 UTC  Song_04  artist_07  feed_id_1247  feed_name_1158    22
2019-01-01 01:34:12 +0000 UTC  Song_04  artist_07  feed_id_1247  feed_name_1158    21
2019-06-16 15:25:06 +0000 UTC  Song_01  artist_02  feed_id_1439  feed_name_16      20
2019-01-16 03:44:25 +0000 UTC  Song_01  artist_02  feed_id_1247  feed_name_1158    19
2019-01-04 06:42:57 +0000 UTC  Song_04  artist_07  feed_id_321   feed_name_144     18
                                                                                   ..
2019-08-05 22:13:00 +0000 UTC  Song_06  artist_05  feed_id_266   feed_name_1310     1
                               Song_04  artist_07  feed_id_724   feed_name_367      1
                                                   feed_id_1093  feed_name_362      1
2019-08-05 22:11:00 +0000 UTC  Song_06  artist_05  feed_id_530   feed_name_1332     1
2020-09-30 23:57:00 +0000 UTC  Song_05  artist_03  feed_id_503   feed_name_365      1
Length: 517065, dtype: int64

## Looking through the second data set

In [50]:
data_set2.head()

      Feed_Id            SMP_Station
0  feed_id_01  smp_station_name_1027
1  feed_id_02    smp_station_name_94
2  feed_id_03   smp_station_name_500
3  feed_id_04   smp_station_name_346
4  feed_id_06   smp_station_name_732

In [51]:
data_set2.describe()

             Feed_Id           SMP_Station
count           1125                  1125
unique          1125                  1122
top     feed_id_1424  smp_station_name_154
freq               1                     2

In [52]:
data_set2.value_counts()

Feed_Id       SMP_Station
feed_id_01    smp_station_name_1027    1
feed_id_544   smp_station_name_180     1
feed_id_550   smp_station_name_963     1
feed_id_549   smp_station_name_982     1
feed_id_548   smp_station_name_285     1
                                      ..
feed_id_1448  smp_station_name_701     1
feed_id_1449  smp_station_name_565     1
feed_id_145   smp_station_name_21      1
feed_id_1450  smp_station_name_288     1
feed_id_999   smp_station_name_497     1
Length: 1125, dtype: int64

## Merging them

In [53]:
full_data_set = data_set1.merge(data_set2, on='Feed_Id', how='left')
full_data_set

,Stamp,Track,Artist,Feed_Id,Feed_Name,SMP_Station
0,2019-06-07 18:38:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
1,2019-06-08 09:04:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
2,2019-06-08 19:51:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
3,2019-06-09 20:52:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
4,2019-06-10 11:06:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
...,...,...,...,...,...,...
521969,2020-07-16 18:09:00 +0000 UTC,Song_05,artist_03,feed_id_1254,feed_name_765,smp_station_name_848
521970,2019-01-10 05:33:00 +0000 UTC,Song_08,artist_01,feed_id_1202,feed_name_855,smp_station_name_325
521971,2019-01-25 17:31:00 +0000 UTC,Song_08,artist_01,feed_id_1202,feed_name_855,smp_station_name_325
521972,2019-02-11 23:01:00 +0000 UTC,Song_08,artist_01,feed_id_1202,feed_name_855,smp_station_name_325
521973,2019-02-12 18:09:00 +0000 UTC,Song_08,artist_01,feed_id_1202,feed_name_855,smp_station_name_325

In [54]:
# Let's look for the null data
full_data_set.isnull().sum()

Stamp              0
Track              0
Artist             0
Feed_Id            0
Feed_Name          0
SMP_Station    35174
dtype: int64

Let's fulfill the first condition:  
"If you do not find the parent station for a given feed, just default to the feed info and use that as your 'station' instead.""

In [55]:
full_data_set = full_data_set.fillna({'SMP_Station':full_data_set['Feed_Name']})
full_data_set

,Stamp,Track,Artist,Feed_Id,Feed_Name,SMP_Station
0,2019-06-07 18:38:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
1,2019-06-08 09:04:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
2,2019-06-08 19:51:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
3,2019-06-09 20:52:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
4,2019-06-10 11:06:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
...,...,...,...,...,...,...
521969,2020-07-16 18:09:00 +0000 UTC,Song_05,artist_03,feed_id_1254,feed_name_765,smp_station_name_848
521970,2019-01-10 05:33:00 +0000 UTC,Song_08,artist_01,feed_id_1202,feed_name_855,smp_station_name_325
521971,2019-01-25 17:31:00 +0000 UTC,Song_08,artist_01,feed_id_1202,feed_name_855,smp_station_name_325
521972,2019-02-11 23:01:00 +0000 UTC,Song_08,artist_01,feed_id_1202,feed_name_855,smp_station_name_325
521973,2019-02-12 18:09:00 +0000 UTC,Song_08,artist_01,feed_id_1202,feed_name_855,smp_station_name_325

In [56]:
# Let's re-check the null data
full_data_set.isnull().sum()

Stamp          0
Track          0
Artist         0
Feed_Id        0
Feed_Name      0
SMP_Station    0
dtype: int64

Oh, looks good now. We've met the condition for this task.

In [57]:
full_data_set.value_counts()

Stamp                          Track    Artist     Feed_Id       Feed_Name       SMP_Station
2019-01-03 08:22:58 +0000 UTC  Song_04  artist_07  feed_id_1247  feed_name_1158  feed_name_1158           22
2019-01-01 01:34:12 +0000 UTC  Song_04  artist_07  feed_id_1247  feed_name_1158  feed_name_1158           21
2019-06-16 15:25:06 +0000 UTC  Song_01  artist_02  feed_id_1439  feed_name_16    feed_name_16             20
2019-01-16 03:44:25 +0000 UTC  Song_01  artist_02  feed_id_1247  feed_name_1158  feed_name_1158           19
2019-01-04 06:42:57 +0000 UTC  Song_04  artist_07  feed_id_321   feed_name_144   feed_name_144            18
                                                                                                          ..
2019-08-05 22:13:00 +0000 UTC  Song_06  artist_05  feed_id_266   feed_name_1310  smp_station_name_685      1
                               Song_04  artist_07  feed_id_724   feed_name_367   smp_station_name_1073     1
                                                   feed_id_1093  feed_name_362   smp_station_name_819      1
2019-08-05 22:11:00 +0000 UTC  Song_06  artist_05  feed_id_530   feed_name_1332  smp_station_name_125      1
2020-09-30 23:57:00 +0000 UTC  Song_05  artist_03  feed_id_503   feed_name_365   smp_station_name_323      1
Length: 517065, dtype: int64

In [58]:
full_data_set.describe()

,Stamp,Track,Artist,Feed_Id,Feed_Name,SMP_Station
count,521974,521974,521974,521974,521974,521974
unique,384312,8,8,1479,1592,1622
top,2019-01-01 01:34:12 +0000 UTC,Song_05,artist_03,feed_id_968,feed_name_223,smp_station_name_447
freq,45,180794,180794,19654,19654,19654

Now, let's check column types.

In [59]:
full_data_set.dtypes

Stamp          object
Track          object
Artist         object
Feed_Id        object
Feed_Name      object
SMP_Station    object
dtype: object

It will be a good practice, to prepare Stamp data for future services or a person who will work with them later,  
and to change it's types into a date type.

In [60]:
full_data_set['Stamp'] = pd.to_datetime(full_data_set['Stamp'], format="%Y-%m-%d %H:%M:%S %z UTC")
# it will be better to have date in an ISO format
full_data_set.head()

,Stamp,Track,Artist,Feed_Id,Feed_Name,SMP_Station
0,2019-06-07 18:38:00+00:00,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
1,2019-06-08 09:04:00+00:00,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
2,2019-06-08 19:51:00+00:00,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
3,2019-06-09 20:52:00+00:00,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
4,2019-06-10 11:06:00+00:00,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294

Yep, I've seen, that ```'Track'``` column had a name ```'Track '``` (with a space in the name),  
I've found it during EDA steps, and add here, to make the future work with datasets easier

In [61]:
full_data_set = full_data_set.rename(columns={'Track ':'Track'})

In [62]:
final_data_set = full_data_set.drop_duplicates(subset=['Stamp', 'Track', 'Artist', 'SMP_Station'])
final_data_set

,Stamp,Track,Artist,Feed_Id,Feed_Name,SMP_Station
0,2019-06-07 18:38:00+00:00,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
1,2019-06-08 09:04:00+00:00,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
2,2019-06-08 19:51:00+00:00,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
3,2019-06-09 20:52:00+00:00,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
4,2019-06-10 11:06:00+00:00,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294
...,...,...,...,...,...,...
521969,2020-07-16 18:09:00+00:00,Song_05,artist_03,feed_id_1254,feed_name_765,smp_station_name_848
521970,2019-01-10 05:33:00+00:00,Song_08,artist_01,feed_id_1202,feed_name_855,smp_station_name_325
521971,2019-01-25 17:31:00+00:00,Song_08,artist_01,feed_id_1202,feed_name_855,smp_station_name_325
521972,2019-02-11 23:01:00+00:00,Song_08,artist_01,feed_id_1202,feed_name_855,smp_station_name_325
521973,2019-02-12 18:09:00+00:00,Song_08,artist_01,feed_id_1202,feed_name_855,smp_station_name_325

And here it comes :)  
We have met all the conditions, mentioned in the task:  
1. Consolidate the data so that we do not double count plays coming from feeds that belong to the same station  
2. Further clean the data as you deem appropriate in order to perform an analysis on this dataset  
3. Present the steps you have gone through for the data processing (eg. python notebook or any other data management tool you use)  
  
Now, let's see, what we can do with this final data set, and what insights we can get from the inside.  
Let's make little changes to the DataSet, export it, and make visualisations with the Tableu.

In [ ]:
final_data_set['Day'] = final_data_set.Stamp.dt.day_name()
final_data_set['Month'] = final_data_set.Stamp.dt.month_name()
final_data_set['Year'] = final_data_set.Stamp.dt.year

In [41]:
final_data_set

,Stamp,Track,Artist,Feed_Id,Feed_Name,SMP_Station,Day,Month,Year
0,2019-06-07 18:38:00+00:00,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294,Friday,June,2019
1,2019-06-08 09:04:00+00:00,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294,Saturday,June,2019
2,2019-06-08 19:51:00+00:00,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294,Saturday,June,2019
3,2019-06-09 20:52:00+00:00,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294,Sunday,June,2019
4,2019-06-10 11:06:00+00:00,Song_02,artist_08,feed_id_1377,feed_name_1183,smp_station_name_294,Monday,June,2019
...,...,...,...,...,...,...,...,...,...
521969,2020-07-16 18:09:00+00:00,Song_05,artist_03,feed_id_1254,feed_name_765,smp_station_name_848,Thursday,July,2020
521970,2019-01-10 05:33:00+00:00,Song_08,artist_01,feed_id_1202,feed_name_855,smp_station_name_325,Thursday,January,2019
521971,2019-01-25 17:31:00+00:00,Song_08,artist_01,feed_id_1202,feed_name_855,smp_station_name_325,Friday,January,2019
521972,2019-02-11 23:01:00+00:00,Song_08,artist_01,feed_id_1202,feed_name_855,smp_station_name_325,Monday,February,2019
521973,2019-02-12 18:09:00+00:00,Song_08,artist_01,feed_id_1202,feed_name_855,smp_station_name_325,Tuesday,February,2019

In [42]:
final_data_set.to_csv('final_table.csv')

As we can see in the Tableu – there are Artists "leaders" and artists "outsiders" in number of plays.  
Also, we can see that there is no anomaly in plays rate (hourly, dayly, monthly), I mean, there were no drops (abnormal decline) in plays during the period.  
If there will be any abnormal decline in future – we can check, which feed and station was the cause for it.  
Also, we can check the promo campaigns for outsiders and leaders, and find, what leads for so low\high playrate.  
Also, we can check (in future) the genre and target audience (for outsiders and leaders).  
E.t.c.
  
Unfortunately, we don't have any GEO data here.  
It will be cool to set playrate on the map, and absolutely cool to see in in the "livestream".